html {
    font-size: 100%;
    height: 100%;
}

body {
    height: 100%;
    background-color: #333;
    color: #ddd;
    font-size: 1.5rem;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

.header {
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    font-size: 2rem;
    height: 2rem;
    padding: 1rem;
    background-color: #111;
    z-index: 3;

    -webkit-box-shadow: 0px 3px 6px 0px #777;
    -moz-box-shadow: 0px 3px 6px 0px #777;
    box-shadow: 0px 3px 6px 0px #777;
}

.actions {
    display: flex;
    align-items: center;
}

@media only screen and (max-width : 640px) {
    .actions {
        width: 100%;
    }
} 

.hamburger {
    margin-right: 1rem;
    padding: 0 0.5rem;
    cursor: pointer;
}

.line {
    width: 30px;
    height: 4px;
    background-color: #eee;
    margin: 6px 0;
}

.input {
    background: #444;
    padding: 0.4rem 0.5rem;
    font-size: 1.2rem;
    border: none;
    color: #ddd;
    width: 100px;
    margin-right: 1rem;
}

@media only screen and (max-width : 640px) {
    .main-input {
        display: none;
    }
} 

.title {
    background: none;
    border: none;
    color: #ddd;
    font-size: 2rem;
}

@media only screen and (max-width : 640px) {
    .main-title {
        display: none;
    }
} 

@media only screen and (max-width : 639px) {
    .title {
        font-size: 1.5rem;
        text-align: right;
    }
}

.title:hover {
    cursor: pointer;
    color: #fff;
}

.audio {
    height: 2.2rem;
    width: 500px;
}

.checkbox {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1.4rem;
    margin-right: 0.7rem;
}

.checkbox:hover {
    cursor: pointer;
}

.checkbox:disabled {
    cursor: default;
}

.checkbox-label {
    font-size: 1.4rem;
}

.checkbox-label:hover {
    cursor: pointer;
    color: #fff;
}

.checkbox-label.disabled:hover {
    cursor: default;
    color: #ddd;
}

@media only screen and (max-width : 639px) {
    .header .actions .checkbox,
    .header .actions .checkbox-label {
        display: none;
    }
}

.main .sidenav .checkbox-label {
    font-size: 1.2rem;
}

@media only screen and (min-width : 640px) {
    .main .sidenav .checkbox,
    .main .sidenav .checkbox-label {
        display: none;
    }
}

.main {
    position: relative;
    top: 4rem;
    min-height: calc(100vh - 6.2rem);
    width: 100%;

    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.main .sidenav {
    /* height: calc(100% - 5rem); */
    width: 0; 
    position: fixed; 
    z-index: 2; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    transition: 0.5s; 
    padding-top: 1rem;

    height: 100%;
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width : 640px) {
    .main .sidenav {
        padding-top: 0;
        /* height: calc(100% - 4rem); */
    }
}
  
.main .sidenav .sidenav-option {
    width: 100%;
    display: block;
    padding: 0.5rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    background: #111;
    border-bottom: 1px solid #333;
    color: #818181;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.3s;
}

.main .sidenav .sidenav-option.selected {
    background: #333;
}
  
.main .sidenav .sidenav-option:hover {
    color: #f1f1f1;
    background: #444;
    cursor: pointer;
}

.main .sidenav .sidenav-option:focus {
    outline: none;
    color: #f1f1f1;
    background: #444;
}

.main .sidenav .sidenav-title {
    width: 100%;
    background: none;
    border: none;
    color: #ddd;
    font-size: 1.5rem;
    padding: 0.5rem;
}

@media only screen and (min-width : 640px) {
    .main .sidenav .sidenav-title {
        display: none;
    }
}

.main .sidenav .input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    padding-bottom: 1rem;
}

.main .sidenav .input-wrapper .sidenav-input {
    margin: 0;
}

@media only screen and (min-width : 640px) {
    .main .sidenav .input-wrapper {
        display: none;
    }
}

.main .sidenav .options-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.main .sidenav .options-wrapper #sidenavPianoId {
    margin-left: 0;
}

.article {
    margin: auto;
    padding: 3rem 3rem 2rem;
    text-align: justify;
    color: #111;
}

@media only screen and (max-width : 768px) {
    .article {
        padding: 1.5rem 1.5rem 2rem;
    }
} 

@media only screen and (min-width : 1024px) {
    .article {
        width: 1000px;
        font-size: 1.8rem;
    }
} 

.article.missing {
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.footer {
    position: relative;
    top: 4rem;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    font-size: 1rem;
    background-color: #111;
    z-index: 2;

    -webkit-box-shadow: 3px 0px 6px 0px #777;
    -moz-box-shadow: 3px 0px 6px 0px #777;
    box-shadow: 3px 0px 6px 0px #777;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #333;
}
  
::-webkit-scrollbar-thumb {
    background: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}
